/* =============================================
    Sticky footer with flex box
============================================= */
html, body {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
}
#wrapper{
    flex: 1 0 auto;
}

/* =============================================
   Styles custom
============================================= */
.header-nav-wrapper, .menuzord{
    background: #82acc8;
}

.header_wrapper{
    width: 100%;
    height: 300px;
    background: url("../images/bg.png") repeat-x;
}

.header_wrapper h2{
    margin-top: 10px;
    font-size: 18px;
}

.header_wrapper h1, .header_wrapper img{
    margin-top: 30px;
}

.header_wrapper p{
    color: #002943;
    margin-bottom: 20px;
    font-size: 14px;
}

.menuzord-menu > li > a{
    color: #fff;
    font-size: 14px;
}

.menuzord-menu > li {
    padding: 10px 0;
    line-height: 60px;
}

.menuzord-brand img {
    height:45px;
}

.menuzord-brand{
    margin-top: 25px;
}

.menuzord-menu li.logos a{
    padding: 8px 10px 8px 20px;
    margin-left: 5px;
}


.menuzord-menu > li.active > a,
.menuzord-menu > li:hover > a,
.menuzord-menu ul.dropdown li:hover > a{
    background: #0f4060;
}

.menuzord-menu > li.logos:hover > a{
    background: none;
}

.login-form{
    margin-bottom: 0;
}

.panel-form{
    min-height: 145px;
}

.btn-default {
    border-color:#b3b3b3;
    text-transform: none;
}

.btn-dark {
    background: #0f4060;
    border-color:#0a3754;
}

.btn-sm {
    font-size: 12px;
    padding: 6px 17px;
}

.bg-dark{
    background: #0f4060;
}

.panel-dark > .panel-heading {
    background: #0f4060;
    color: #fff;
    border-color:#0a3754;
    font-size: 15px;
}

.panel-dark {
    border-color:#ddd;
}

.icon-box.left a.link-more{
    padding: 6px 10px;
    margin: -10px 0 0 0;
    background: #0f4060;
    border-color:#0a3754;
}

.arrets-links-bloc{
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    padding: 8px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
}

.arrets-links-bloc:hover{
    color: #d6e9f5;
}

.arrets-links-bloc span {
    font-size: 13px;
    color: #a1bdd1;
    display: block;
}

.message-alert-box .alert{
    margin-bottom: 0;
}

/* =====
  Posts
======*/

.post-content{
    text-align: justify;
}

.post-date{
    font-size: 12px;
    color: #999;
    font-style: italic;
}

/* =============================================
    Flexbox align
============================================= */

.container-categories {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.categorie-item{
    width: 24%;
    height: 40px;
    margin: 0.5%;
    font-size: 13px;
    margin-bottom: 8px;
    border: 1px solid #fff;
    color: #0a1854;
    background: #c7dae6;
    padding:8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.categorie-item:hover{
    background: #f1f1f1;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-80{
    width: 80px !important;
}

.w-p-90{
    width: 90% !important;
}

.widget-sidebar{
    padding-left: 30px;
}

.widget ul li a{
    color: #003f68;
    font-size: 15px;
}

.widget ul li ol li a{
    color: #3f3f3f;
    font-size: 13px;
}

.subcategories{
    margin-left: 0;
    margin-top: 15px;
}

.subcategories li{
    position: relative;
    padding-left: 10px;
}


.subcategories li .fa{
    position: absolute;
    font-size: 12px;
    left: 0;
    top: 5px;
}

.subsubcategories{
    padding-left: 8px;
}

.subsubcategories{
    margin-top: 10px;
}

.widget ul li ol li{
    padding-bottom: 3px;
}

.categories .btn{
    margin-bottom: 8px;
}

.panel-boutons{
    margin-bottom: 3px;
    flex:1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.panel-boutons a.btn{
    margin-bottom: 4px;
    margin-right: 3px;
}

.panel-boutons a.btn.active{
    background: #000;
}